/* --------------------Phần hệ thống---------------------------------------------------------------------------------------- */
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}
/* --------------------Phần các biến---------------------------------------------------------------------------------------- */
/* --------------------Phần dùng chung Common------------------------------------------------------------------------------- */
/* --------------------Phần nội dung CSS-----------------------------------------------------------------------------------  */
